.product-detail-container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.product-image img {
    width: 350px;
    border-radius: 10px;
}

.product-info {
    max-width: 500px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.buy-btn {
    display: inline-block;
    padding: 23px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    height: 62px;
}

.cart-btn {
    display: inline-block;
    padding: 20px;
    background: red;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}


.out-of-stock {
    color: red;
    font-weight: bold;
}